body {
    background-color: floralwhite;
}

header {
    height: 30px;
    background-color: rgb(140, 140, 255);
}

footer {
    height: 30px;
    background-color:  rgb(140, 140, 255);
}

.innercontainer {
    margin: auto;
    width: 500px;
    
}

.front {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.hfletters {
    font-size: 50px;
    height: 70px;
    text-align: center;
}

.taskname {
font-size: 30px;
margin-top: 20px;
margin-bottom: 20px;
}

.taskdate {
margin-top: 20px;
margin-bottom: 20px;
}

.taskdetails {
margin-top: 20px;
margin-bottom: 50px;
}

.generalmessages {
    font-size: 20px;
    text-align: center;
}